<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIsHWeUaNmqmDmnr3yd6yGH-pWs2S1a5M</string>
	<key>GCM_SENDER_ID</key>
	<string>547366347776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.freshinbasket.app</string>
	<key>PROJECT_ID</key>
	<string>freshinbasketapp</string>
	<key>STORAGE_BUCKET</key>
	<string>freshinbasketapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547366347776:ios:bd0c79190db5df9db1a4e5</string>
</dict>
</plist>
